@import 'bootstrap';
@import 'mdb';
@import 'fontawesome';

.card {
	&:before {
		transition: all 0.3s ease;
		background-color: #fff;
	}
}

.card.loading {
	position: relative;

	&:before {
		content: "";
		display: block;
		background-color: rgba(#2b2b2b, 0.1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
	}

	&:after {
		@extend .fa-spin;
		@include fa-icon();
		content: $fa-var-cog;
		color: #ecf0f1;
		font-size: 3em;
		text-shadow: 0 0 5px rgba(#000, 0.3);

		position: absolute;
		top: 40%;
		left: 45%;
		transform: translate(-50%, -50%);
		z-index: 11;
	}
}

span.square {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #2b2b2b;

	font-size: 0;
	text-indent: 0;
	color: transparent;
	line-height: 0;
}

.reference-ch1-list {
	margin-top: 20px;

	li {
		display: inline-block;
		width: 90px;
		text-align: center;
		padding: 5px;
		margin: 0 5px;
		border: 1px solid rgba(#2b2b2b, 0.2);
		box-shadow: 0 0 5px 2px rgba(#2b2b2b, 0);
		transition: all 0.2s ease;
		vertical-align: top;

		&:hover {
			border: 1px solid rgba(#2b2b2b, 0.4);
			box-shadow: 0 0 5px 2px rgba(#2b2b2b, 0.2);
		}

		img {
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}

		span {
			display: inline-block;
			margin-top: 10px;
			font-size: 12px;
		}
	}
}

.image-ch1-wrapper {
	position: relative;

	img {
		max-width: 300px;
	}

	.dot {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;

		width: 1px;
		height: 1px;
		background-color: cyan;

		transform: translateX(0) translateY(0);
		transition: all .5s ease;
	}
}